<div class="banner" style="background-image: url(<%= image_path "bar-image.jpg"%>)">
  <h1>Mehdi's Cocktails</h1>
</div>


  <div class="container">


    <p><% @cocktails.each do |cocktail| %></p>
     <div class="card-product">
      <%= image_tag "cocktail.jpg", alt: "alttext" %>
      <div class="card-product-infos">
      </div>
      <h2 class="cocktail-name"><%= cocktail.name %></h2>
      <p><%= link_to 'Show', cocktail_path(cocktail), class: 'btn btn-secondary' %></p>
    </div>
    <% end %>

    <p><%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %></p>
  </div>


</div>


