<h1>New Dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
  <%= f.input :description %>
</div>
<%= f.input :ingredient_id, collection: Ingredient.all %>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>

<%= link_to 'Back', cocktail_path(@cocktail)%>
